.socialmedia-list-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    color: #66ccff;
    max-width: 600px;
    margin-left: -20px;
    padding-left: 0;

}

#socialmedia-list-inside {
    margin: 15px;
}
#about-links a{
    color:#66ccff;
    font-weight: bold;
}