.footer-class {
    background-color: black;
    color: #fff;
    // position: relative;
    padding-top: 24px;
    text-align: center;
    padding: 21px 0;
    padding-bottom: 48px;
    // box-sizing: inherit;
    // why this
    margin: 0;
    margin-bottom:0;
    // height: 50px;
    // flex-shrink: 0;
}




// .footer {
//     position: relative;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: black;
//     color: white;
//     text-align: center;
// }

// .footer,
// .push {
//   height: 50px;
// }