// component 3 css text manipulation
.footer-class {
    background-color: black;
    color: #fff;
    padding-top: 24px;
    text-align: center;
    padding: 21px 0;
    padding-bottom: 48px;
    margin: 0;
    margin-bottom:0;

}
